<div>
    <div class="card">
        <div class="card-body" style="color :gray">
          <h5 class="card-title">{{job['title']}}</h5>
          <p class="card-text">
            <b>Location :</b> {{job['location']}}
          </p>
          <p class="card-text">
            <b>Salary : </b> {{job['Salary']}}
          </p>
          <button type="button" class="btn btn-outline-primary" > <a style="text-decoration: none;" href="/job/{{job['id']}}">
            Apply
          </a></button>
        </div>
</div>
